* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 5px;
    background-color: black;
}

.cell {
    width: 20dvh;
    height: 20dvh;
    background-color: lightblue;
    font-size: 20dvh;
    text-align: center;
    vertical-align: middle;
    line-height: 20dvh;
}

.cell:hover {
    background-color: red;
}